h1{    
    padding: 15px;
    background-color: #ed1d24;
    color: white;
    text-align: center;
    font-family: 'Marvel', sans-serif;
    font-weight: 700;    
    animation: inicio;
    animation-duration: 3s;
    text-shadow: #232323 3px 3px;   
}


@keyframes inicio {
    0%   {color: #ed1d24; text-shadow: none;}   
    100% {color: white; text-shadow: #232323 3px 3px;}
 }