h3{
    text-align: center;
    margin: 25px 0px;    
}

.info-dados{
    padding: 25px 28px;
    margin-left: 10px;
    font-weight: 700;    
    
}

.info{
    color: black;
    letter-spacing: 1.4px;
    font-weight: 900;
    text-shadow: 1px 1px white;
    font-size: 18px;
}

.lado-esquerdo{
    border-radius:60px 0px 0px 60px;
    background-color: rgb(255, 255, 255);    
    background-image: url('./../../../assets/images/marvel-herois-opacity.png');
    background-size: cover; 
    background-repeat: no-repeat;          
}


.lado-direito{
    border-radius:0px 60px 60px 0px;
    text-align: center;
    border: 2px solid #f09698c0;  

}  

.btn-voltar{
    background-color: #f09698;
    margin-top: 30px;
    letter-spacing: 1.2px;
    color: white;
}

.btn-voltar:hover{
    background-color: #b97576;
}

@media screen and (max-width: 767px){   

    .dados{
        width: 99%;
    }

    .lado-esquerdo{
        border-radius:60px 60px 0px 0px;
        margin-bottom: 20px;
        padding-left: 50px;
    }
    .lado-direito{
        border-radius:0px 0px 60px 60px;
        
    }
    .btn-voltar{
        margin-bottom: 80px;
    }
}
   


