<div class="container" *ngIf="personagem">
    
    <div class="titulo" > 
        <h2> Personagem </h2>
    </div>
    
    
    <div class="row dados">
        <div class="col-md-7 info-dados lado-esquerdo "  >
            <p class="info">Name: {{ personagem['name'] }} </p>

            <p style="opacity: 0;" class="info" *ngIf="!pId"> x </p>
            {{ carregarId() }}   
            <p class="info id-info" *ngIf="pId">ID: #  {{ personagem['id'] }} </p>  

            <p style="opacity: 0;" class="info" *ngIf="!pDescricao"> x </p>
            {{ carregarDescricao() }}     
           
            <p class="info descricao-info" *ngIf="personagem['description'] == '' && pDescricao" > Description: Character without description</p>  
            <p class="info descricao-info texto" *ngIf="personagem['description'] != '' && pDescricao " > Description: {{ personagem['description'] }}</p>  


            <button class="btn btn-personagem "> <i class="far fa-money-bill-alt" style="font-size: 25px;"></i> <b> HQ mais valiosa </b></button>
        </div>
        
        <div class="col-md-4 info-dados lado-direito " >          
            <img src="{{ personagem['thumbnail']['path']}}.{{personagem['thumbnail']['extension']}} " alt="foto-personagem">           
        </div>
    </div>
    
    
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
            <button class="btn btn-voltar btn-lg" (click)="voltarParaLista()"> Voltar</button>
        </div>
    </div>
</div>

