.container{
    margin-bottom: 130px;
}

.tabela-personagens{   
    display: inline-block;
    text-align: center; 
    margin-top: 15px;
    opacity: 0.95;
    
}

.card-personagem{ 
    display: inline-block;
    padding: 10px 30px;    
    
}

img{
    text-align: center;
    display: block;
    transition-duration: 1s;
    width: 250px;
    height: 250px;
    border-radius: 20%;  
    border: 5px solid white;
}



img:hover{
    transform: scale(1.1);
    box-shadow: 2px 10px 10px 1px #232323;    
}

.pagination{
    font-size: 20px;
    display: inline-block;
    padding-right: 32px;
    border: 3px solid rgba(255, 255, 255, 0.705);
    border-radius: 20px 0px ;   
    background-image: linear-gradient(to left, #232323c2, rgba(248, 145, 145, 0.863), white , rgba(248, 145, 145, 0.863),  #232323c2);

    
}
.btn-personagem{
    margin: 10px 0px ;
    border: 1px solid black;
}


@media screen and (max-width: 575px) {
   .container{
       text-align: center;
   } 
}

