/* You can add global styles to this file, and also import other style files */
body{
    margin-top: 5px;
    font-family: 'Marvel', sans-serif;
    background-image: linear-gradient(to bottom left, #6d6b6bd2, rgba(255, 255, 255, 0.76));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
   
}

.btn-personagem, h2{
    border: 0.3px solid black;
}

.btn-personagem{
    background-color:rgb(243, 156, 156);
    transition: .5s;
    
}
.btn-personagem:hover{
    background-color:rgb(167, 103, 103);
    letter-spacing: 1.1px;    
}

.titulo{
    text-align: center;
    margin-top: 15px;
}
h2{ 
    
    padding: 1px 30px;
    text-align: center; 
    color: #232323;
    background-color: white;
    opacity: 0.9;
    display: inline;
    border-radius: 30px;
}


.texto{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical ;
    text-align: justify;
}

.btn-voltar{
    background-color: rgba(248, 245, 52, 0.877);
    margin-top: 15px;
    margin-bottom: 40px;
    letter-spacing: 1.2px;
    color: #232323;
    
}

