/* You can add global styles to this file, and also import other style files */
body{
    margin-top: 5px;
    font-family: 'Marvel', sans-serif;
    background-image: url('./assets/images/manopla_do_infinito.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;   
   
}

.btn-personagem, h2{
    border: 0.3px solid black;
}

.btn-personagem{
    background-color:rgb(243, 156, 156);
    transition: .5s;
    
}
.btn-personagem:hover{
    background-color:rgb(167, 103, 103);
    letter-spacing: 1.1px;    
}
h2{ 
    padding: 1px 30px;
    margin-top: 9px;
    text-align: center;    
    font-weight: 700;
    color: black;
    background-color: rgb(243, 156, 156);
    opacity: 0.9;
    display: inline;
    border-radius: 30px;
}
